* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}


h2 {
    font-family: 'Dancing Script', cursive;   }
    



#logo {
    width: 150px;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    
}

#title {
    text-align: center;
    margin: 0px;
}

#title-subtitle {
    color: rgb(180, 177, 9);
    margin: 0px;
    text-align: center;
}

.flex-item {
    display:flex;
    flex-direction: column;
    position: relative;
    height: 40px;
    justify-content: space-around;
    align-content: center;
    padding-left: 30px;
    background-color:rgb(240, 11, 60);
    margin: 2px;
}

.flex-item b {
    position: absolute;
    right: 20px;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: rgb(12, 238, 12);
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

section {
    padding: 20px 0;
}
.section-title {
    text-align: center;
    color:gold;
    border-bottom: 1px gray solid;
    padding-bottom: 10px;
}

#cv ul {
    list-style-type: none;
}


#portfolio-pic {
    width: 100%;
    display: block;
    margin: 0 auto;
    
}

#cvlink {
    font-weight: bold;
}

p {
    font-weight: bold;
    text-align: center;
}

.skillsbar {
    height: 9px;
    border: 20px;
    border-radius: 5px;
    margin: 0px;
}

h3.skilltitle {
    margin: 15px 0px 3px 0px;
}

#line-one {
    height: 9px;
    width: 30%;
    background-color: greenyellow;
    border-radius: 9px;
}

#line-two {
    height: 9px;
    width: 15%;
    background-color: red;
    border-radius: 9px;
}

#line-three {
    height: 9px;
    width: 5%;
    background-color: dodgerblue;
    border-radius: 9px;
}

footer i {
    margin: 3px 20px 3px 10px;
    color: yellowgreen;
    font-size: 50px;
}
footer i:hover {
    color: fuchsia;
}

    @media (min-width: 576px) { 
        body {
            background-color:lightseagreen;
          }
     }
    @media (min-width: 768px) { }
    @media (min-width: 992px) { }
    @media (min-width: 1200px) { }